.customModalViewProfile {
    width: 30vw;
    height: 65vh;
    border-radius: 5px;
}

.display-container {
    display:flex;
    justify-content:left;
    margin-left: 200px;
    margin-top: 50px;
}

.background-picture{
    background-image: url('./profile.png');
    background-repeat: no-repeat;
    height: 230px;
    background-size: 1150px 300px;
    box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
    background-position:center ;
    border-radius: 10px;  
}

*{box-sizing:border-box}
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i&subset=cyrillic';

.form-wrap {
  width: 550px;
  background: #ffd500;
  border-radius: 20px;
}

.form-wrap *{transition: .1s linear}
.profile {
  width: 240px;
  float: left;
  text-align: center;
  padding: 30px;
}

#antimage:hover {
  cursor: pointer;
}

#profileImage {
  height: 170px;
  width: 170px;
  border-radius: 50%;
}

#profileImage:hover {
  cursor: pointer;
}

.vp-form {
  background: white;
  float: left;
  width: calc(100% - 240px);
  padding: 30px;
  border-radius: 0 20px 20px 0;
  color: #7b7b7b; 
}

.form-wrap:after, .vp-form .theDiv:after {
  content: "";
  display: table;
  clear: both;
}

.vp-form .theDiv {
  margin-bottom: 15px;
  position: relative;
}

.vp-header {
  font-size: 24px;
  font-weight: 400;
  position: relative;
  margin-top: 30px;
}

.vp-header:after {
  /* content: "\f138"; */
  font-size: 40px;
  font-family: FontAwesome;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.vp-label, .vp-span {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.vp-text, .vp-email {
  width: 100%;
  padding: 10px 15px;
  border-width: 0;
  background: #e6e6e6;
  outline: none;
  margin: 0;
}

.vp-text:focus, .vp-email:focus {
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
}


@media (max-width: 600px) {
  body {display: block}
  .form-wrap {margin: 20px auto; max-width: 550px; width:100%}
  .profile, form {float: none; width: 100%}
  h1 {margin-top: auto; padding-bottom: 50px;}
  form {border-radius: 0 0 20px 20px}
}
