
.authNav-container {
    margin: 3vh 9.5vw 6vh 7vw;
}

.navbar-collapse {
    justify-content: flex-end;
}

.protectednav-title {
    font-family: 'Montserrat', sans-serif;
}

.dropdown-menu.show {
    animation: growDown 300ms ease-in-out forwards!important;
    transform-origin: top center!important;
}

.dropdown-item:hover {
    color: white!important;
    background-color: crimson!important;
}

#basic-nav-dropdown{
    color: white;
    font-size: x-large;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}
