
.authNav-container {
    margin: 3vh 9.5vw 6vh 7vw;
}

.navbar-collapse {
    justify-content: flex-end;
}

.protectednav-title {
    font-family: 'Montserrat', sans-serif;
}

#basic-nav-dropdown{
    color: white;
    font-size: x-large;
}

