.container-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .searchbar-container {
    display: flex;
    justify-content: center;
    width: 50vw;
}

.searchbar {
    border-color: rgb(128, 110, 114);
    border-radius: 7px;
    width: 40vw;
    padding: 12px;
    opacity: 0.5;
}

::placeholder {
    opacity: 1;
    color:black;
}

.searchbar:focus {
    outline: none;
    background-color: rgb(160, 160, 160);
    color: black;   
}

.title{
    font-family: 'Lemonada', cursive;
    color: white;
    margin-bottom: 0;
    font-size: 60px;
    opacity: 0.8;
}

.slogan {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 1.6vh 0px 2vh 0px;
    opacity: 0.7;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: small;
    }

    .slogan {
        font-size: small;
    }

    .searchbar {
        padding: 5px;
        width: 70vw;
    }
}