#basic-nav-dropdownn {
    color: black;
    font-size: x-large;
    
}

.minimato-title {
    font-family: 'Lemonada', cursive;
}

.header-container {
    margin: 2vh 9.5vw 0vh 9vw;
}

hr { 
   margin-top: 0em !important;
   margin-bottom: 0em !important;
   border-color: white;
}