.hsearch-container {
    width: 800px;
    display: flex;
    justify-content: center;
}

.hinput-container {
    margin-left: 70px;
    width: 60vw;
    padding: 2vh;
    border-radius: 10px;
    border: 1px solid darkgrey;
    background-color: rgba(white, white, white, 0.5);
}

.hinput-container:focus {
    outline: none;
    background-color: rgba(160, 160, 160,0.2);
    color: black;   
}

::placeholder {
    opacity: 1;
    color:black;
}